@import '../../node_modules/bootstrap/scss/bootstrap.scss';

html,
body {
  height: 100%;
}

figure {
  background-color: #f8f9fa;
}

.code-box {
  display: block;
}

.g-doc {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: #fefefe;
}

.g-hd {
}

.g-bd {
  flex: 1;
  padding-top: 20px;
  min-height: 200px;
}

.g-sd {
  flex: 0 0 200px;
  border-right: 1px solid #ccc;
}

.g-ft {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;

  > p {
    position: relative;
    width: 130px;
    margin: 0 auto;
    z-index: 2;
    background-color: #fefefe;
  }

  > hr {
    position: absolute;
    z-index: 1;
    width: calc(100% - 30px);
    top: 16px;
  }
}

.g-main {
  flex: 1;
  padding: 0 15px;
}
